<div class = "container">
  <h1 class="text-center ">Lead Report</h1>
  <div class="text-center ">  
  <br>     
  <p ><%= image_tag(@user.image.url(:thumb)) %></p>


<br>



<p>Brian</p>
<div class ="btn btn"><%=link_to @brian_reports.date ,inspection_report_path(@brian_reports)%></div>

<br>

<p>Howard</p>
<div class ="btn btn"><%=link_to @howard_reports.date ,inspection_report_path(@howard_reports)%></div>

