<div class = "container">
  <h1 class="text-center ">Lead Report</h1>
  <div class="text-center ">  
  <br>     
  <p ><%= image_tag(@user.image.url(:thumb)) %></p>


<br>






<p>Howard</p>
<div class ="btn btn"><%=link_to @howard_report_latest.date ,inspection_report_path(@howard_report_latest)%></div>


<div class='row'>
        <div class ='span4'>
        </div>


<div class ='span4'>

<div class = "text-center">  
    <u id="flip" class="btn btn-link" ><h4> Howard All Reports</h4> </u>

</div>


  <table class = "table" id = "panel" style=" display: none;" >
          <tr>
            <td >Date</td>

          </tr>

<% @howard_reports.reverse_each do |inspection_report| %>
          <tr>    
            <td ><strong><%= link_to inspection_report.date, inspection_report_path(inspection_report) %><strong></td>

          </tr>
        <% end %>
              </table>
</div></div>


<script type="text/javascript">
$(document).ready(function(){
    $("#flip").click(function(){
    $("#panel").slideToggle("slow");
    });
    });

</script>