<h1>Project DASHBOARD</h1>



<h3>GENERAL SUMMARY INFO</h3>

<strong>
<p>...
<br>
...
<br>
...</p>
</strong>




<h3>CONTRACT BUDGET SUMMARY</h3>

<strong>
<p>...
<br>
...
<br>
...</p>
</strong>



<h3>CONTRACT SCHEDULE SUMMARY</h3>
<strong>
<p>...
<br>
...
<br>
...
</p>
</strong>

<h3>CONTRACT SUBMITTAL SUMMARY</h3>
<strong>
<p>...
<br>
...
<br>
...
</p>
</strong>



<h5><%= link_to 'PROJECT CONTROLLER', root_path%></h5>

