<h1>Project VISUALS</h1>



<h3>IMAGES</h3>


<strong><div> WHAT IS THE BEST WAY TO MANAGE IMAGES IN THE APP?</div></strong>
<strong><div> HOW TO SEED THE DATABASE WITH IMAGES?</div></strong>
<br>
<br>





<%= image_tag("esa_scale_cavern.PNG", :size => "580x360" )%>
<br>
.
<br>
.
<br>
.
<%= image_tag("CM004_streets.jpg", :size => "520x340" )%>
<%= image_tag("CM013A_Streets.jpg", :size => "520x340" )%>


<h5><%= link_to 'PROJECT CONTROLLER', root_path%></h5>

