 <h1 class="text-center" >Inspection Reports</h1>
<div class="text-center">       
<!-- 
        <p> 
            
            <%= link_to 'VDC Coordinator', users_path  if current_user.admin? %>
            <%= link_to 'Inspector', users_path  if !current_user.admin? %>
        </p> -->

        <br>
       <p ><%= image_tag(@user.image.url(:thumb)) %></p>
</div>




<div class="text-center">
<%= button_to 'New Report', new_inspection_report_path, :class => "btn btn-primary", :method => :get %>



</div>
<br>





</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script type="text/javascript" src="/resource/1358914798000/bootstrap/bootstrap/js/bootstrap.js"></script>


<br>


             <script> 
$(document).ready(function(){
  $("#flip").click(function(){
    $("#panel").slideToggle("slow");

  });
});
</script>

