 <h1 class="text-center" >Inspection Reports</h1>

<p class="text-center">
<strong><%= link_to 'New REPORT', new_inspection_report_path %></strong>
</p>

<table >
  <tr class= "text-center">
	<td class= "text-center">Inspector</td>    
    <td class= "text-center">Date</td>
    <td class= "text-center">Erase</td>
  </tr>

<% @inspection_reports.each do |inspection_report| %>
  <tr>
    <td class= "text-center"><strong><%= link_to inspection_report.inspector,inspection_report_path(inspection_report) %><strong></td>
    <td class= "text-center"><%= inspection_report.date %></td>
    <td class= "text-center"><strong><%= link_to '+', inspection_report_path(inspection_report), method: :delete, data: { confirm: 'Are you sure?' } %></strong></td>
  </tr>
<% end %>
</table>