 <h1 class="text-center" >Inspection Reports</h1>

<div class="text-center">
    <%= button_to 'New Report', new_inspection_report_path, :class => "btn btn-primary", :method => :get %>
</div>

<br>

<div class='row'>
        <div class ='span4'>
        </div>

    <div class ='span4'>
        
      <table class = "table" >
          <tr>
            <td >Inspector</td>
            <td >Date</td>
            <td >Erase</td>
          </tr>

        <% @inspection_reports.each do |inspection_report| %>
          <tr>
            <td ><strong><%= link_to inspection_report.inspector,inspection_report_path(inspection_report) %><strong></td>
            <td><%= inspection_report.date %></td>
            <td><strong><%= button_to 'o', inspection_report_path(inspection_report), :class => "btn btn-link" ,method: :delete, data: { confirm: 'Are you sure?'} %></strong></td>
          </tr>
        <% end %>
      </table>

    </div>
</div>



<br>
