<%if user_signed_in?%>
	<strong><p class= "text-center"> Inspector Name:</p></strong>
	<p class= "text-center"><%= current_user.username %></p>
	<!-- <strong><p> Inspector Picture:</p></strong> -->
	<p class= "text-center"><%= image_tag(@user.image.url(:thumb)) %></p>
	<br>


<strong><p class = 'text-center'> Role: Inspector</p></strong>
<!-- <div class ='text-center'>Inspector</div>  -->

<% end%>






