<!-- <h1>Daily TRACK</h1> -->


<p id = 'image'><%= image_tag("background.JPG", :size => "700x300" )%></p>


<h3>	
<!-- <a href="/project_visuals">Project Story - </a> -->
<br>
<!-- <a href="/inspection_reports">Inspection Reports </a> -->
<br>
<!-- <a href="/daily_reports">Daily Reports  </a> -->
<br>
<!-- <a href="/project_dashboards">Project Dashboard  </a>
<br> -->
<!-- <a href="/users">Profile  </a> -->
<br>
<!-- <a href="/data_visuals">DATA Visuals - </a>
<br> -->
<!-- <a href="/daily_reports">Weekly Report</a> -->
<br>
<!-- <a href="/export_dashboard">Export Dashboard - </a> -->

<!-- <h5><%= link_to "SIGN OUT", destroy_user_session_path, method: :delete %></h5> -->

</h3>


