<h1>Data VISUALS.</h1>
<strong>
<p>
SUMMARY CURVES:
<br>
Experient with different ways to graphically display data.
<br>
http://code.shutterstock.com/rickshaw/
<br>
.
<br>
organized based on contracts.
<br>
.
<br>
CM005
<br>
.
<br>
.	
<%= image_tag("data_visuals/cm005_concrete_curve.png", :size => "1018x450" )%>
<br>
.
<br>
CM006
<br>
CM007
<br>
.
<br>
.
<br>
Include commadity curves updated daily.
</p>
</strong>

<h5><%= link_to 'PROJECT CONTROLLER', root_path%></h5>