
<div class="border-form-div">
  <h2 class = "text-center" >Welcome</h2>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class = "text-center"><%= f.email_field :email, :autofocus => true %></div>
    <div class = "text-center"><%= f.password_field :password %></div>

    <div class = "text-center"><%= f.submit class: 'btn btn-primary', value: 'Enter' %></div>
    
  <% end %>
</div>
