// Place all the styles related to the inspection_reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    color: Black;
    text-align: Left;
    font-size: 60px;
    font-family: "Helvetica"
}

h2 {
    color: Black;
    text-align: Left;
    font-size: 60px;
    font-family: "Helvetica"
}

h3 {
    color: Black;
    text-align: Left ;
    font-size: 40px;
    font-family: "Helvetica"
}

h5 {
    color: Black;
    text-align: RIGHT ;
    font-size: 20px;
    font-family: "Helvetica"
}
h6 {
    color: red;
    text-align: left ;
    font-size: 20px;
    font-family: "Helvetica"
}

tr {
    color: Black;
    text-align: Center;
    font-size: 20px;
    font-family: "Helvetica"
} 

input.button {
    color: Black;
    text-align: Center;
    font-size: 20px;
    font-family: "Helvetica"  
}

th {
    color: Black;
    text-align: LEFT;
    font-size: 20px;
    font-family: "Helvetica"
} 
td {
    color: Black;
    text-align: center;
    font-size: 20px;
    font-family: "Helvetica"
} 

div {
    color: Black;
    text-align: LEFT;
    font-size: 20px;
    font-family: "Helvetica"
} 

p {
    color: Black;
    text-align: Left;
    font-size: 20px;
    font-family: "Helvetica"
}

label{
    display: inline-block;
    width:130px;
    font-family:"Helvetica";
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;


}

ul li{
list-style: none;

}

a:link {
    color: #4B088A;
    text-decoration: none;
}

a:visited {
    color: #4B088A;
}





