// Place all the styles related to the inspection_reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#green{
	
	height:100px;
    width:100px;
    background-color:#008800;
    border-radius:5px;
    margin-bottom:5px;

}


