<h1>Daily REPORT</h1>



<h3>NARRATIVE</h3>

<strong>
<p>...
<br>
...
<br>
...</p>
</strong>




<h3>SUMMARY</h3>

<strong>
<p>LOCATION
<br>
ELEMENT
<br>
OPERATION</p>
</strong>



<h3>PHOTOS</h3>
<strong>
<p>...
<br>
...
<br>
...
</p>
</strong>

<h5><%= link_to 'PROJECT CONTROLLER', root_path%></h5>

