<h1>Daily REPORT</h1>

<strong>
<p>Daily REPORT includes the summary of all activities the took place on any given day.
<br>
Question: Model for Daily REPORT will be populated with information from  IREPORTS, 
<br>
also it is to include additional informaiton, filled out by the LEAD.
<br>
Understand the configuration of the Daily REPORT model.
...</p>
</strong>

<h3>NARRATIVE</h3>

<strong>
<p>LEAD narrative is the story about work that took place today.
<br>
...
<br>
...</p>
</strong>




<h3>SUMMARY</h3>

<strong>
<p>Include informaiton generated from IREPORT model, summarized in the following fashion.
<br>
<p>Implements search function, to crawle and summarize inspections.
<br>

<p>LOCATION
<br>
ELEMENT
<br>
OPERATION</p>
</strong>



<h3>PHOTOS</h3>
<strong>
<p>include the photo loading gem. Paperclip.
<br>
<p>...
<br>
...
<br>
...
</p>
</strong>

<h5><%= link_to 'PROJECT CONTROLLER', root_path%></h5>

