<h2>New daily Report</h2>
<%= form_for @daily_report do |f| %>
  <p>
    <%= f.label :NARRATIVE  %><br>
    <%= f.text_area :narrative %>
  </p>
  
  <p>
    <%= f.submit 'New Report', class: 'button' %> 
    <!-- Where do I control the submit button is rendered? -->
  </p>
<% end %>

